
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Koulen&family=Maven+Pro:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Siemreap&family=Teko:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg:#480bf0;
    --text:#ffffff;
    --bgbox:#ffffff;
    --textbox:#000;
}


body{
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Siemreap';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: var(--bgbox);
    height: 350px;
    border-radius: 7px;
    text-align: center;
    color: var(--textbox);
    padding: 12px;
    box-shadow: 0 -7px rgb(3, 209, 34);
}
.container p,a{
    font-size: 12px;
    margin-top: 12px;
    text-decoration: none;
}
.container form{
    display: flex;
    flex-direction: column;
}
.container form input{
    width: 300px;
    height: 40px;
    margin-top: 16px;
    border: 1px solid #646464;
    border-radius: 12px;
    padding: 3px;
}
.container form button{
    width: 300px;
    height: 40px;
    margin-top: 18px;
    border: none;
    border-radius: 12px;
    background-color: var(--bg);
    font-family: 'Siemreap';
    color: var(--text);
    transition: 0.3s;
}
.container form button:hover{
    background-color: #94008a;
}